.main-section {
  width: 100%;
  display: block;
  margin: 0 auto;
  &__list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 40px;
  }
}
