.modal {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: scale(0);
}
.modal.active {
  transform: scale(1);
}
.modal_content {
  width: 600px;
  height: 350px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  border-radius: 30px;
  position: relative;
}
.modal-header {
  margin: 0;
  font-size: 26px;
  padding: 25px 25px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: white;
  font-weight: 400;
  background-color: rgb(116, 62, 62);
  border-radius: 30px 30px 0px 0px;
}
.modalTextContent {
  padding: 40px 40px 100px 40px;
  line-height: 34px;
  letter-spacing: 1px;
  color: white;
  font-weight: 300;
  font-size: 20px;
}
.modal-closeButton {
  position: absolute;
  color: azure;
  padding: 2px 7px;
  top: 21px;
  right: 23px;
  border: 1px solid rgb(80, 43, 43);
  border-radius: 4px;
  cursor: pointer;
  font-size: 22px;
  &:hover {
    color: rgb(216, 168, 170);
    border: 1px solid rgb(19, 3, 7);
    transform: translateY(-2px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }
  &:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  }
  transform: scale(0);
}
.modal-closeButton.toClose {
  transform: scale(1);
}
