* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(76, 69, 72);
}
@mixin button {
  display: block;
  background-color: rgb(116, 34, 50);
  margin-left: 15px;
  padding: 10px 25px;
  border-radius: 4px;
  border: 1px solid rgb(63, 22, 32, 0.3);
  color: rgb(244, 203, 204);
  font-size: 20px;
  cursor: pointer;
  &:hover {
    color: whitesmoke;
    border: 1px solid rgb(19, 3, 7);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }
  &:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  }
}
